body {
	background-image: url("http://motionsacademy.in/images/website-background2.jpg");
}

#header {
	text-align:center;
	font-family:Helvetica;
	font-weight:bold;
	font-size:40px;
	color:#ffffff;
}

#links {
	text-align:center;
	font-family:Helvetica;
	font-size:25px;
	color:#ffffff;
}

#img {
	text-align:center;
}

.content {
	border-style:solid;
	padding:25px;
	background-color: #ffffff;
	font-family:Helvetica;
	margin-left:25%;
	margin-right:25%;
}