body {
	background-color: #779ECB;
	opacity: 0.4;
}

#header {
	text-align:center;
	font-family: Rockwell;
	font-weight:bold;
	font-size:40px;
	color:#ffffff;
}

a {
	text-align: right;
	font-family: Rockwell;
	font-size:25px;
	font-weight:bold;
	color:#ffffff;
	padding: 5%;
}

img {
	text-align: left;
	border: 3px solid;
	padding: 5%;
}

.content {
	border-style: solid;
	border-width: 20px;
	border-color: #007AA5;
	padding: 5%;
	background-color: #3B444B;
	opacity: 0.4;
	font-family: Rockwell;
	color: #B0C4DE;
	margin-left: 25%;
	margin-right: 25%;
}